body {
	font-family: 'Lato', sans-serif;
	color: #000;
	background-color: #FFF
}

nav ul{
	overflow: auto;
	list-style: none; /* this takes off the bullet points of li's in a ul */
	background-color: white;

}
nav li{
	padding:10px;
	float: left;
}
nav a {
	color: #000;
	text-decoration: none;
	font-size: 25px;
	transition: .5s;
}
nav a:hover {
	color: #f00;
}

.main {
	padding-right:300px;
}



